<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/module/Phpug/tests/bootstrap.php">
    <testsuite name="php.ug Test-Suite">
        <directory>src/module/Phpug/tests</directory>
    </testsuite>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
